# python package folder and default typescript build folder
dist

# typescript build folder
esmodules
pdf-images-to-foundry/esmodules

# package foldes
node_modules

# python virtual environment
venv