<form autocomplete="off" onsubmit="event.preventDefault();">
    <nav data-group="primary">
        <a data-tab="summary">Summary</a>
        <a data-tab="sfs">SFS</a>
        <a data-tab="alien-archive">Alien Archive</a>
    </nav>

    <hr>

    <section class="starfinderpdftofoundry-content">

        <div class="tab browser" data-group="primary" data-tab="summary">

            <p>You may import unmodified PDFs from Paizo only. For personal use only.</p>
            <p>This will create actors/scenes/journal entries in this world. Importing flip mats/interactive maps will update maps for all matching scenes in the world.</p>
            <p>Tokens will be placed in worlds for supported modules (indicated with a star). This is an early access feature and may not work in all cases.</p>

            <hr>

            <h4>Supported Adventures</h4>

            <ul>
                <li><strong>TODO</strong>: TODO</li>
                
            </ul>

            <p>For more information about specific adventures, select a tab above</p>

            <hr>

            <div class="specialthanks">
                <span><img src="/modules/starfinderpdftofoundry/img/kofi-logo-stroke.webp" class="kofi"/></span>
                <p>A special thank you to everyone that has helped.</p>
            </div>
        </div>

        <div class="tab browser" data-group="primary" data-tab="alien-archive">
            <div class="supported-modules-container">
                <p>
                    Importing Alien Archide PDFs will save the token art information to your foundry data folder across all worlds
                    and PDF to Foundry will use this art when importing other adventures to use as token data. Additionally,
                    the token art will be used when importing compendium monsters into your world. <b>NOTE: The creature art
                    will <u>NOT</u> show in the compendium browser!</b>
                </p>
                <div class="supported-modules">
                    <span class="complete">&nbsp;</span>
                    <p>TODO:Alien Archive 1</p>
                </div>
            </div>
        </div>

        <div class="tab browser" data-group="primary" data-tab="sfs">
            <div class="supported-modules-container">
            </div>
        </div>

    </section>

    <hr>

    <div class="form-group">
        <label for="data">Source PDF</label>
        <input type="file" name="data">
    </div>

    <!-- <div class="form-group">
        <input type="checkbox" name="consent" id="consent" checked>
        <label for="consent">I consent to send telemetry data about the usage of this module</label>
    </div> -->
</form>
